[user]
  email = petr@muller.dev
  name = Petr Muller
[alias]
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rb = rebase
  dt = difftool
  st = status
  authors = shortlog -s -n -e
  tree = log --oneline --decorate --graph
  publish = "!f() { {{ .chezmoi.config.git.command }} push --set-upstream origin $({{ .chezmoi.config.git.command }} symbolic-ref --short HEAD);}; f"
  github-sync = !{{ .chezmoi.config.git.command }} checkout master && {{ .chezmoi.config.git.command }} fetch --all && {{ .chezmoi.config.git.command }} merge upstream/master && {{ .chezmoi.config.git.command }} push
  kick = "!f(){ {{ .chezmoi.config.git.command }} fetch upstream && ( {{ .chezmoi.config.git.command }} checkout upstream/master &> /dev/null || {{ .chezmoi.config.git.command }} checkout upstream/main ) && {{ .chezmoi.config.git.command }} checkout -b $1; }; f"
  in = "!f(){ {{ .chezmoi.config.git.command }} fetch $1; {{ .chezmoi.config.git.command }} co $1/master &> /dev/null || {{ .chezmoi.config.git.command }} co $1/main; }; f"
  cass   = "!f() { {{ .chezmoi.config.git.command }} commit -a -e -m \"🤖 $@\n\n🤖 Assisted by...\"; }; f"
  assist = "!f() { msg=$({{ .chezmoi.config.git.command }} log -1 --pretty='format:🤖 %s%n%n%b'); {{ .chezmoi.config.git.command }} commit --amend -e -m \"$msg\n\n🤖 Assisted by...\"; }; f"
[color]
  branch = true
  diff = true
  interactive = true
  status = true
  ui = true
[merge]
  tool = vimdiff
  conflictstyle = zdiff3
[diff]
  tool = vimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[difftool]
  prompt = false
[pager]
  diff =
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[rebase]
  autostash = true
  updateRefs = true
  autoSquash = true
[stash]
  showpatch = true
[gitreview]
  remote = origin
[core]
  editor = hx
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RF
  fsmonitor = true
  untrackedCache = true
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Projects/RH/**"]
  path = .gitconfig-redhat
[advice]
  detachedHead = false
  skippedCherryPicks = false
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[http]
  cookiefile = abc
[column]
  ui = auto
[branch]
  sort = -committerdate
[delta]
  navigate = true
  dark = true
[tag]
  sort = version:refname
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
[credential "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}github.com"]
	helper = 
	helper = !{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}gh auth {{ .chezmoi.config.git.command }}-credential
[credential "https{{ .chezmoi.pathListSeparator }}{{ .chezmoi.pathSeparator }}{{ .chezmoi.pathSeparator }}gist.github.com"]
	helper = 
	helper = !{{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}gh auth {{ .chezmoi.config.git.command }}-credential
