[user]
  email = afri@afri.cz
  name = Petr Muller
[alias]
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  rb = rebase
  dt = difftool
  st = status
  authors = shortlog -s -n -e
  tree = log --oneline --decorate --graph
  publish = "!f() { git push --set-upstream origin $(git symbolic-ref --short HEAD);}; f"
  github-sync = !git checkout master && git fetch --all && git merge upstream/master && git push
  kick = "!f(){ git fetch upstream && ( git checkout upstream/master || git checkout upstream/main ) && git checkout -b $1; }; f"
  in = "!f(){ git fetch $1; git co $1/master; }; f"
[color]
  branch = true
  diff = true
  interactive = true
  status = true
  ui = true
[merge]
  tool = vimdiff
  conflictstyle = zdiff3
[diff]
  tool = vimdiff
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[difftool]
  prompt = false
[pager]
  diff =
[push]
  default = simple
  autoSetupRemote = true
  followTags = true
[rebase]
  autostash = true
  updateRefs = true
  autoSquash = true
[stash]
  showpatch = true
[gitreview]
  remote = origin
[core]
  editor = hx
  excludesfile = {{ .chezmoi.homeDir }}/.gitignore_global
  pager = diff-so-fancy | less --tabs=4 -RF
  fsmonitor = true
[includeIf "gitdir:{{ .chezmoi.homeDir }}/Projects/RH/**"]
  path = .gitconfig-redhat
[advice]
  detachedHead = false
  skippedCherryPicks = false
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  func = 146 bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
[http]
  cookiefile = abc
[column]
  ui = auto
[branch]
  sort = -committerdate
[delta]
  navigate = true
  dark = true
[tag]
  sort = version:refname
[fetch]
  prune = true
  pruneTags = true
  all = true
[help]
  autocorrect = prompt
[commit]
  verbose = true
[rerere]
  enabled = true
  autoupdate = true
