[[language]]
name = "go"
roots = ["go.mod", "go.work", "Gopkg.toml"]
comment-token = "//"
language-servers = ["gopls", "golangci-lint-lsp"]
formatter = { command = "gofumpt" }

[language-server.gopls]
command = "gopls"

[language-server.gopls.config]
analyses.unusedparams = true

[language-server.golangci-lint-lsp]
command = "golangci-lint-langserver"

[[language]]
name = "markdown"
file-types = ["md", "markdown"]
language-servers = ["marksman"]
soft-wrap.enable = true

[[language]]
name = "fish"
file-types = ["fish"]
roots = ["fishfile"]
language-servers = ["fish-lsp"]

[language-server.fish-lsp]
command = "fish-lsp"
args = ["start"]

[[language]]
name = "toml"
language-servers = ["taplo"]

[language-server.taplo]
command = "taplo"
args = ["lsp", "stdio"]

[[language]]
name = "yaml"
file-types = ["yaml", "yml"]
language-servers = ["yaml-language-server"]

[language-server.yaml-language-server]
command = "yaml-language-server"
args = ["--stdio"]

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true

[language-server.yaml-language-server.config.yaml.schemas]
kubernetes = "/*.yaml"
