function hive
  oc --context hive $argv
end

function apici
  oc --context api.ci $argv
end

function appci
  oc --context app.ci $argv
end

function b01
  oc --context build01 $argv
end

function b02
  oc --context build02 $argv
end

function b03
  oc --context build03 $argv
end

function b04
  oc --context build04 $argv
end

function gp
  git push
end

function gpf
  git push --force
end

function c
  git commit
end

function ca
  git commit --amend
end

function k
  git kick
end

function ginu
  git in upstream
end

function pjw
  set PJ $argv[1]
  if [ -z $PJ ]
    echo "Needs a Prowjob ID"
    return
  end
  while [ -z $POD ]
     echo "Waiting for pod to be assigned for Prowjob"
     set POD (oc get pj $PJ -o jsonpath='{.status.pod_name}')
     sleep 5
  end
  echo "Pod: $POD"
  while ! oc logs $POD -c test -f
     echo "Waiting for pod to run"
     echo "Status: "(oc get pod $POD -o jsonpath={.status.phase})
     sleep 5
  end
end

source /usr/share/autojump/autojump.fish

set -gx GOPATH {{ .chezmoi.homeDir }}/Projects/RH/go
set -gx PATH $PATH $GOPATH/bin
set -gx PATH $PATH {{ .chezmoi.homeDir }}/.local/bin
set -gx EDITOR vim

# The next line updates PATH for the Google Cloud SDK.
if [ -f "{{ .chezmoi.homeDir }}/Applications/google-cloud-sdk/path.fish.inc" ]
    source "{{ .chezmoi.homeDir }}/Applications/google-cloud-sdk/path.fish.inc"
end

alias grep="rg"
alias ls="lsd"

starship init fish | source
